<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <p>a={{a}},b={{b}}</p>


    <p>{{message}}</p>
    <input v-model="message">



    <template v-for="user in users|filterBy message in 'name'">
        <ul v-if="message">
            <li>{{user.name}}</li>
        </ul>
    </template>
</div>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            message:'',
            url:'',
            a:1,
            users:[
                {name:'lisi'},
                {name:'wangwu'},
                {name:'zhaoliu'}
            ]
        },
        methods:{
            rev:function(){
                this.message = this.message.split('').reverse().join('');
            }
        },
        computed:{
            b:{
                set:function(newVal){
                    this.a = newVal-5;
                },
                get:function(){
                    return this.a + 5
                }
            }
        }
    });
</script>
</body>
</html>